anyio==3.7.0
babelfish==0.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
decorator==4.4.2
deepl==1.15.0
exceptiongroup==1.1.2
ffmpeg-python==0.2.0
future==0.18.3
guessit==3.7.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
inquirer==3.1.3
jaconvV2==0.4
moviepy==1.0.3
numpy==1.25.0
langdetect==1.0.9
Pillow==10.0.0
proglog==0.1.10
pysubs2==1.6.1
python-anilist==1.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
rebulk==3.2.0
requests==2.31.0
six==1.16.0
sniffio==1.3.0
tqdm==4.65.0
urllib3==2.0.3
